@mixin display-flex($align-items: start, $justify-content: start, $flow: row) {
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-pack: $justify-content;
    -webkit-box-align: $align-items;
    -webkit-justify-content: $justify-content;
    -webkit-align-items: $align-items;
    -webkit-flex-flow: $flow;
    flex-flow: $flow;
    @if $flow == 'column' {
        -webkit-box-orient: vertical;
        box-orient: vertical;
    }
}

@mixin flex($number) {
    -webkit-box-flex: $number;
    -webkit-flex: $number;
}
